.tixMaxWidth {
  max-width: 940px;
  margin: 0 auto; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  font-family: Roboto, sans-serif; }

a {
  text-decoration: none !important;
  cursor: pointer; }

ul,
ol {
  list-style: none; }

.nav-tabs {
  border-bottom: none; }
  .nav-tabs .nav-item {
    margin-bottom: 0; }
    .nav-tabs .nav-item .nav-link {
      border: none;
      padding: unset;
      margin: unset; }
  .nav-tabs--tix .nav-link {
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    line-height: unset;
    letter-spacing: unset;
    transition: all 0.2s; }
    .nav-tabs--tix .nav-link.active {
      color: #fa5238;
      font-size: 24px;
      font-weight: 400;
      line-height: unset;
      letter-spacing: unset; }
    .nav-tabs--tix .nav-link:hover {
      font-size: 24px; }

.custom-scroll {
  overflow-y: auto; }
  .custom-scroll::-webkit-scrollbar {
    width: 4px;
    border-radius: 7px;
    background-color: #eeeeee; }
  .custom-scroll::-webkit-scrollbar-track {
    border-radius: 7px; }
  .custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #959595; }

.user {
  color: #9b9b9b;
  font-size: 13px;
  font-weight: 400;
  line-height: unset;
  letter-spacing: unset;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative; }
  .user__picture {
    display: block;
    width: 30px;
    border-radius: 50%;
    margin-right: 5px; }
  .user__setting {
    position: absolute;
    right: 0;
    bottom: -80%;
    display: none;
    width: calc(100% - 35px);
    border-radius: 4px;
    background-color: #959595;
    overflow: hidden; }
    .user__setting a {
      display: block;
      color: #ffffff;
      font-size: 13px;
      font-weight: 400;
      line-height: unset;
      letter-spacing: unset;
      border: none;
      outline: none;
      background-color: #959595;
      border: unset solid "";
      padding: 5px 10px;
      transition: all 0.4s; }
      .user__setting a:hover {
        background-color: #888888; }
  .user:hover .user__setting {
    display: block; }

.movie-limit {
  background-color: #fb4226;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  line-height: unset;
  letter-spacing: unset;
  min-width: 33px; }
  .movie-limit--no-limit {
    background-color: #00ac4d; }

.cinema-box {
  border: 1px solid #eeeeee;
  border-radius: 5px; }
  .cinema-box .nav-tabs--config.nav {
    display: block;
    padding: 0; }
    .cinema-box .nav-tabs--config.nav .nav-item {
      padding: 0 20px; }
      .cinema-box .nav-tabs--config.nav .nav-item .nav-link {
        padding: 10px 0;
        border-bottom: 1px solid #eeeeee; }
  .cinema-box__brands, .cinema-box__branches, .cinema-box__showtimes {
    height: 705px; }
  .cinema-box__brands, .cinema-box__branches {
    border-right: 1px solid #eeeeee; }
  .cinema-box__branch {
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 20px 0 15px;
    border-bottom: 1px solid #eeeeee;
    opacity: 0.5;
    transition: all 0.3s;
    cursor: pointer; }
    .cinema-box__branch.active, .cinema-box__branch:hover {
      opacity: 1; }
    .cinema-box__branch img {
      margin-right: 5px; }
    .cinema-box__branch-content {
      min-width: 0; }
      .cinema-box__branch-content h4 {
        color: #000000;
        font-size: 14px;
        font-weight: 400;
        line-height: unset;
        letter-spacing: unset; }
        .cinema-box__branch-content h4 span {
          color: #e71a0f; }
      .cinema-box__branch-content p,
      .cinema-box__branch-content a {
        color: #949494;
        font-size: 12px;
        font-weight: 400;
        line-height: unset;
        letter-spacing: unset; }
      .cinema-box__branch-content p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 0; }
      .cinema-box__branch-content a {
        color: #fb4226; }
  .cinema-box__showtime {
    padding: 20px 0;
    border-bottom: 1px solid #eeeeee; }
    .cinema-box__showtime-info {
      cursor: pointer; }
      .cinema-box__showtime-info img {
        max-width: 50px; }
      .cinema-box__showtime-info__title {
        color: #000000;
        font-size: 14px;
        font-weight: 600;
        line-height: unset;
        letter-spacing: unset;
        margin-left: 5px; }
      .cinema-box__showtime-info__duration {
        color: #9b9b9b;
        font-size: 12px;
        font-weight: 400;
        line-height: unset;
        letter-spacing: unset; }
      .cinema-box__showtime-info .media-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: stretch; }
        .cinema-box__showtime-info .media-body p {
          margin: 0; }
    .cinema-box__showtime h6 {
      color: #000000;
      font-size: 16px;
      font-weight: 600;
      line-height: unset;
      letter-spacing: unset; }
  .cinema-box__schedule-item {
    color: #9b9b9b;
    font-size: 14px;
    font-weight: 600;
    line-height: unset;
    letter-spacing: unset;
    background-color: rgba(246, 246, 246, 0.5);
    border: 1px solid #eeeeee; }
    .cinema-box__schedule-item span {
      color: #108f3e;
      font-size: 18px;
      font-weight: 600;
      line-height: unset;
      letter-spacing: unset; }
    .cinema-box__schedule-item:hover {
      color: #9b9b9b; }
      .cinema-box__schedule-item:hover span {
        color: #fb4226; }

.select-input {
  width: 150px; }
  .select-input a {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: unset;
    letter-spacing: unset; }
  .select-input__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
    .select-input__link:focus {
      box-shadow: unset; }
    .select-input__link span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      flex-grow: 1;
      text-align: left; }
    .select-input__link::after {
      display: none; }
  .select-input__list {
    max-height: 300px; }
    .select-input__list a.dropdown-item:hover {
      background-color: #60c5ef;
      color: #ffffff;
      transition: all 0.3s; }

/*# sourceMappingURL=components.css.map */
