@import "../helper/theme";
@import "../helper/function";
@import "../helper/mixin";
@import "../helper/keyframes";
@import "../helper/common";

@import "../base/reset";
@import "../base/bootstrap-custom";
@import "../base/browser-custom";
@import "../base/lib-custom";

@import "../component/user";
@import "../component/movie-limit";

// RIGHT CONTENT
.right-content {
  background-color: bc("primary");
  box-shadow: 0 0 10px bc("boxShadow1");

  height: 100vh;
}

// LEFT CONTENT
.header {
  position: relative;
  height: 75px;
  padding: 0 space(2) 0 space(7.5);

  box-shadow: 0 0 10px bc("boxShadow1");

  &__step {
    display: inline-block;
    margin-right: space(5);

    @include text($fSize: "title1", $fWeight: "medium", $lineHeight: 75px);

    &-number {
      margin-right: space(0.5);

      @include text($fSize: "h6", $fWeight: "medium");
    }

    &.active {
      border-top: 2px solid bc("secondary");
    }

    &.active,
    &.active &-number {
      color: tc("danger");
    }
  }

  &__right {
    .user span {
      font-size: fs("title1");
    }
  }
}

.seat-map {
  background: linear-gradient(bc("backdrop"), bc("backdrop")),
    url(https://s3img.vcdn.vn/123phim/2020/06/con-mua-tinh-dau-classic-again-15924959166782.png);

  &__content {
    height: calc(100vh - 75px);
    width: calc(100% - 75px);
    margin-left: auto;
    padding: 0 space(1.5);

    background-color: bc("primary");
  }

  &__body {
    max-width: 900px;
    margin: 0 auto;
  }

  &__info {
    padding: space(1.5) 0;

    &-content {
      > img {
        width: 50px;
      }
    }

    &-place {
      margin-bottom: 0;
    }

    &-place,
    &-place span {
      @include text($fSize: "title2");
    }

    &-place span,
    &-showtime {
      color: tc("lightInfo");
    }

    &-showtime {
      @include text($color: null, $fSize: "title1");
    }

    &-timer {
      text-align: center;
      p {
        margin-bottom: 0;
        @include text($color: "lightInfo", $fSize: "body1");
      }

      span {
        @include text($color: "danger", $fSize: "h2");
      }
    }
  }

  &__map {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
  }

  &__row {
    @include flex($alignItems: center);
    flex-wrap: wrap;

    &-label {
      width: 50px;
    }
  }

  &__seat-wrapper {
    overflow: hidden;
    width: 40px;
    line-height: 0;
  }

  &__seat-icon {
    position: relative;
    font-size: 32px;
    cursor: pointer;

    &--normal {
      color: tc("normalBox");
    }

    &--vip {
      color: tc("vipBox");
    }

    &--sweet {
      color: tc("sweetBox");

      transform: scaleX(1.5);

      &.left {
        right: -17px;
      }

      &.right {
        left: -17px;
      }
    }

    &--selecting {
      color: tc("selectingBox");
    }

    &--selected {
      color: tc("selectedBox");
    }

    &--disabled {
      color: tc("disabledBox");
    }
  }

  &__annotation-item {
    margin-right: space(2);
    text-align: center;

    span {
      font-size: 20px;
    }

    p {
      @include text($color: "lightInfo", $fSize: "body2");
    }
  }
}

.booking {
  &__top {
    padding: space(3);

    .booking__block:not(:last-child) {
      border-bottom: 1px dashed bc("lighterGrey");
    }
  }

  &__block {
    padding: space(1) 0;
  }

  &__total {
    text-align: center;
    @include text($color: "price", $fSize: "h1");
  }

  &__film-info {
    p {
      margin-bottom: 0;

      @include text($color: "dark", $fSize: "title2");

      &:first-child {
        margin-bottom: space(0.5);

        color: tc("primary");
        font-weight: fw("medium");
      }
    }
  }

  &__seat {
    span {
      @include text($fSize: "title2");

      &:first-child {
        color: tc("danger");
      }

      &:last-child {
        color: tc("price");
      }
    }
  }

  &__combo {
    span {
      @include text($fSize: "title2");

      &:first-child {
        img {
          width: 20px;
          margin-right: space(1.5);

          vertical-align: middle;
        }
      }

      &:last-child {
        color: tc("price");
      }
    }
  }

  &__input {
    position: relative;

    label {
      @include pos($position: absolute, $top: 10px, $left: 0, $zIndex: 10);
      @include text($color: "secondary", $fSize: "title2");

      transition: all 0.3s;
    }

    input {
      border: none;
      outline: none;
      width: 100%;

      &:focus {
        padding-top: space(1.5);
      }
      &:focus + label {
        font-size: fs("body2");

        color: tc("focusLabel");
      }
    }

    &--no-effect {
      label {
        font-size: fs("body2");
        top: -5px;
      }

      input {
        padding-top: space(1.5);
      }
    }
  }

  &__discount {
    button {
      @include button($color: "disabled", $bgColor: "inactive", $py: 0.7, $px: 1.5);
      border-radius: 5px;
    }
  }

  &__payment-type {
    span {
      &:first-child {
        @include text($fSize: "title2");
      }

      &:last-child {
        @include text($color: "danger", $fSize: "body2");
      }
    }
  }

  &__bottom {
    p {
      padding: 0 space(3);

      @include text($color: "info", $fSize: "title1");
      text-align: center;
    }

    button {
      @include button($fs: "h4", $color: "disabled", $bgColor: "inactive", $py: 1.5);
    }
  }

  &__warning-1 {
    margin-bottom: 0;

    img {
      width: 15px;
      margin-right: space(0.5);
    }
  }

  &__warning-2 {
    span {
      color: tc("orange");
    }
  }
}
