@import "../helper/theme";
@import "../helper/function";
@import "../helper/mixin";
@import "../helper/keyframes";
@import "../helper/common";

@import "../base/reset";
@import "../base/bootstrap-custom";
@import "../base/browser-custom";

@import "../component/user";
@import "../component/movie-limit";
@import "../component/cinema-box";
@import "../component/select-input";
@import "../component/header";
@import "../component/footer";

// TRAILER CSS
.trailer {
  position: relative;
  padding-top: 60px;

  &__slider {
    display: none;
  }

  &__tools {
    @include pos($position: absolute, $bottom: 0, $left: 50%);
    transform: translate(-50%, 50%);

    display: none;
    width: 100%;
    max-width: 940px;
    height: 80px;
    padding: 0 space(1);
    border-radius: 5px;

    background-color: bc("primary");
    box-shadow: 0 0 15px bc("boxShadow");

    .select-input,
    button {
      flex-grow: 1;
    }

    .select-input {
      position: relative;

      &:first-child {
        flex-basis: 25%;
      }

      &::after {
        content: "";

        display: inline-block;

        @include pos($position: absolute, $right: 0, $top: 50%);
        transform: translateY(-50%);

        width: 1px;
        height: 120%;

        background-color: bc("lighterGrey");
      }
    }

    button {
      margin-left: space(1);

      @include button($color: "white", $bgColor: "darkGrey", $py: 1, $px: 2);
      border-radius: 5px;
    }
  }

  @include mq("small") {
    &__slider {
      display: block;

      .slick-dots {
        @include pos($position: absolute, $left: 0, $bottom: 15%);
        width: 100%;

        li {
          margin: 0;
          button {
            background: linear-gradient(
              to bottom,
              bc("lightGrey"),
              bc("primary")
            );
            width: 13px;
            height: 13px;
            border-radius: 50%;

            &::before {
              display: none;
            }
          }

          &.slick-active {
            button {
              background-image: none;
              background-color: bc("danger");
            }
          }
        }
      }
    }

    &__item {
      position: relative;

      cursor: pointer;

      a {
        @include pos($position: absolute, $top: 50%, $left: 50%);
        transform: translate(-50%, -50%);

        opacity: 0;

        transition: all 0.5s;
      }

      &:hover {
        a {
          opacity: 1;

          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }

  @include mq("large") {
    &__tools {
      @include flex($alignItems: center);
    }
  }
}
