@import "../helper/theme";
@import "../helper/function";
@import "../helper/mixin";
@import "../helper/keyframes";
@import "../helper/common";

@import "../base/reset";
@import "../base/bootstrap-custom";
@import "../base/browser-custom";
@import "../base/lib-custom";

@import "../component/user";
@import "../component/movie-limit";
@import "../component/showtime";
@import "../component/cinema-box";
@import "../component/select-input";
@import "../component/header";
@import "../component/footer";

// TRAILER SCSS
.trailer {
  position: relative;
  padding-top: space(6);

  &__slider {
    display: none;
    .slick-prev {
      left: 30px;
    }

    .slick-next {
      right: 30px;
    }
  }

  &__item {
    position: relative;

    cursor: pointer;

    a {
      @include pos($position: absolute, $top: 50%, $left: 50%);
      transform: translate(-50%, -50%);

      opacity: 0;

      transition: all 0.5s;
    }

    &:hover {
      a {
        opacity: 1;

        &:hover {
          opacity: 0.5;
        }
      }
    }

    &-overlay {
      @include pos($position: absolute, $top: 0, $left: 0);
      width: 100%;
      height: 100%;

      pointer-events: none;

      background: linear-gradient(to top, bc("black"), transparent 20%);
    }
  }

  &__tools {
    @include pos($position: absolute, $bottom: 0, $left: 50%, $zIndex: 10);
    transform: translate(-50%, 50%);

    display: none;
    width: 100%;
    max-width: 940px;
    height: 80px;
    padding: 0 space(1);
    border-radius: 5px;

    background-color: bc("primary");
    box-shadow: 0 0 15px bc("boxShadow");

    .select-input,
    button {
      flex-grow: 1;
    }

    .select-input {
      position: relative;

      &:first-child {
        flex-basis: 25%;
      }

      &::after {
        content: "";

        display: inline-block;

        @include pos($position: absolute, $right: 0, $top: 50%);
        transform: translateY(-50%);

        width: 1px;
        height: 120%;

        background-color: bc("lighterGrey");
      }
    }

    button {
      margin-left: space(1);

      @include button(
        $color: "white",
        $bgColor: bc("darkGrey"),
        $py: 1,
        $px: 2
      );
      border-radius: 5px;
    }
  }

  @include mq("small") {
    &__slider {
      display: block;

      .slick-dots {
        @include pos($position: absolute, $left: 0, $bottom: 15%);
        width: 100%;

        li {
          margin: 0;
          button {
            background: linear-gradient(
              to bottom,
              bc("lightGrey"),
              bc("primary")
            );
            width: 13px;
            height: 13px;
            border-radius: 50%;

            &::before {
              display: none;
            }
          }

          &.slick-active {
            button {
              background-image: none;
              background-color: bc("danger");
            }
          }
        }
      }
    }
  }

  @include mq("large") {
    &__tools {
      @include flex($alignItems: center);
    }
  }
}

// MOVIE SCSS
.movie {
  padding-top: space(8);
  .slick-prev {
    left: -70px;
  }
  .slick-next {
    right: -70px;
  }
  &__item {
    position: relative;

    padding: space(2) space(1) 0;
    margin-bottom: space(2.5);

    &:hover {
      .movie__button,
      .movie__overlay {
        opacity: 1;
      }

      .movie__info {
        opacity: 0;
      }
    }

    &--mobile {
      padding: space(1) space(1) 0;
      margin-bottom: 0;

      .movie {
        &__type {
          width: 150px;

          transform: translate(-6%, -30%);
        }

        &__limit {
          @include pos($position: absolute, $bottom: 10px, $left: 10px);

          font-size: fs("title1");
        }
      }
    }
  }

  &__image {
    position: relative;
    overflow: hidden;

    border-radius: 5px;
    margin-bottom: space(1);

    cursor: pointer;
  }

  &__sneakshow,
  &__overlay,
  &__rating,
  &__type,
  &__show-date {
    position: absolute;
  }

  &__sneakshow,
  &__show-date {
    @include pos($right: 10px, $bottom: 10px);
  }

  &__sneakshow {
    @include text($color: "white");
    padding: space(0.3) space(0.5);
    border-radius: 5px;

    background-color: bc("danger");
    box-shadow: inset 0 0 10px bc("boxShadow");
  }

  &__overlay {
    @include pos($top: 0, $right: 0, $bottom: 0, $left: 0);
    @include flex($justifyContent: center, $alignItems: center);
    background: linear-gradient(to top, bc("black"), transparent);
    opacity: 0;

    transition: all 0.3s;

    a {
      transform: scale(0.6);
      transition: all 0.3s;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  &__rating,
  &__show-date {
    width: 54px;
    padding: space(0.5) 0;

    background-color: bc("movieRating");
    border: 1px solid bc("movieRatingBorder");
    border-radius: 5px;
  }

  &__show-date {
    text-align: center;
    @include text($color: "white", $fSize: "title2", $fWeight: "medium");
  }

  &__rating {
    @include pos($top: 10px, $right: 10px);
  }

  &__score {
    @include text($color: "white", $fSize: "title2", $fWeight: "medium");
    margin-bottom: space(0.5);

    text-align: center;

    transform: scaleY(1.2);
  }

  &__stars {
    @include flex($justifyContent: center);
    margin-bottom: 0;
    img {
      display: block;
      width: 8px;
    }
  }

  &__type {
    @include pos($top: 0, $left: 0);

    width: 80%;
    transform: translate(-6%, -17%);
  }

  &__content {
    position: relative;
  }

  &__info {
    position: relative;

    transition: all 0.3s;
  }

  &__title {
    @include text($fSize: "title2", $fWeight: "medium");
    @include line-clamp(2, 22px);

    span {
      margin-right: space(0.5);
    }
  }

  &__duration {
    display: block;
    @include text($color: "info", $fSize: "body2");

    margin-top: space(0.5);
  }

  &__button {
    @include pos($position: absolute, $top: 0, $left: 0);
    @include button(
      $fs: "h6",
      $color: "white",
      $bgColor: bc("darkRed"),
      $py: 1,
      $px: 1,
      $bgHover: bc("secondary")
    );

    width: 100%;
    border-radius: 5px;

    opacity: 0;
  }

  &__watch-more {
    @include button(
      $fs: "title1",
      $color: "lightInfo",
      $border: "lightGrey",
      $borderSize: 1px,
      $py: 0.5,
      $px: 2.5
    );

    border-radius: 5px;
    background: 0 0;
  }
}

// NEWS SCSS
.news {
  &__item {
    margin-bottom: space(1.5);
  }

  &__image {
    display: block;
    overflow: hidden;
    border-radius: 5px;
  }

  &__title {
    @include text($fSize: "title2", $fWeight: "medium");
    @include line-clamp(2, 22px);

    margin: space(0.5) 0;
    transition: all 0.3s;

    cursor: pointer;

    &:hover {
      color: tc("danger");
    }
  }

  &__content {
    @include text($color: "info", $fSize: "body2");
    @include line-clamp(3, 22px);
  }

  &__like,
  &__comment {
    @include flex($flex: inline-flex, $alignItems: flex-start);
    margin-right: space(1);

    span {
      @include text($color: "amount");
    }

    img {
      width: 15px;
      margin-right: space(0.7);

      transition: all 0.3s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__small-item {
    img {
      width: 50px;
      border-radius: 5px;

      cursor: pointer;
    }

    p {
      @include text($fSize: "title2");
      @include line-clamp(2, 22px);
      opacity: 0.7;

      transition: all 0.3s;
      cursor: pointer;

      &:hover {
        color: tc("danger");
      }
    }
  }

  &__watch-more {
    @extend .movie__watch-more;

    transition: all 0.3s;

    &:hover {
      background-color: bc("secondary");
      border-color: bc("secondary");
      color: tc("white");
    }
  }
}
