@import "../helper/theme";
@import "../helper/function";
@import "../helper/mixin";
@import "../helper/keyframes";
@import "../helper/common";

@import "../base/reset";
@import "../base/bootstrap-custom";
@import "../base/browser-custom";
@import "../base/lib-custom";

@import "../component/user";
@import "../component/select-input";
@import "../component/movie-rating";
@import "../component/movie-limit";
@import "../component/showtime";
@import "../component/header";
@import "../component/footer";

.movie-detail {
  padding-top: space(6);

  &__intro {
    position: relative;
    overflow: hidden;

    > img {
      display: block;
      width: calc(100% + 50px);

      filter: blur(16px);
      -webkit-filter: blur(16px);

      margin: space(-1) 0 space(-1) space(-2.8);
    }

    &-overlay {
      @include pos($position: absolute, $top: 0, $left: 0);
      @include overlay("movieDetail", 100%);
      width: 100%;
      height: 100%;
    }

    &-content {
      @include flex($alignItems: center);
      @include pos($position: absolute, $top: 50%, $left: 50%, $zIndex: 10);
      transform: translate(-50%, -50%);
    }

    &-image {
      position: relative;
      margin-right: space(1.5);

      a {
        @include pos($position: absolute, $top: 50%, $left: 50%);
        transform: translate(-50%, -50%);

        opacity: 0;
        transition: all 0.3s;
      }

      &:hover a {
        opacity: 1;
      }
    }

    &-info {
      max-width: 300px;

      p {
        @include text($color: "disabled", $fSize: "title1");
        margin-bottom: 0;
      }

      h3 {
        @include text($color: "white", $fSize: "h3", $fWeight: "medium");

        span {
          font-size: fs("title2");
          margin-right: space(1);
          vertical-align: middle;
        }
      }

      button {
        @include button(
          $color: "white",
          $bgColor: "secondary",
          $py: 0.7,
          $px: 1.5,
          $bgHover: "darkRed"
        );

        border-radius: 5px;
        margin: space(1.5) 0;
      }
    }

    &-score {
      margin-left: auto;

      text-align: center;
      p {
        margin-bottom: space(1);
      }

      span {
        @include text($color: "white", $fSize: "title1");
      }
    }

    &-progress {
      position: relative;

      svg {
        width: 120px;
        height: 120px;
        transform: rotate(270deg);

        circle {
          fill: bc("boxShadow1");
          stroke-width: 10;
          stroke: bc("backdrop");
          stroke-linecap: round;

          &:last-child {
            stroke: bc("progressCircle");
            stroke-dasharray: 250;
          }
        }
      }

      span {
        @include pos($position: absolute, $top: 50%, $left: 50%);
        @include text($color: "white", $fSize: "h1");

        transform: translate(-50%, -50%);
      }
    }
  }

  &__image {
    position: relative;
  }

  &__trailer {
    @include pos($position: absolute, $top: 0, $right: 0, $zIndex: 10);

    display: none;
    width: 100%;
    height: 100%;
  }
  &__overlay {
    @include pos($position: absolute, $top: 0, $right: 0, $bottom: 0, $left: 0);
    @include overlay("movieDetail", 100%);
  }

  &__play {
    @include pos($position: absolute, $top: 50%, $left: 50%);
    transform: translate(-50%, -50%);

    background-color: transparent;
    cursor: pointer;
  }

  &__content {
    position: relative;
    z-index: 10;
    background-color: bc("movieDetail");

    > ul {
      .nav-item .nav-link {
        @include text($color: "white", $fSize: "title2");
        &.active,
        &:hover {
          font-size: fs("h6");
        }
      }

      &:nth-child(2) .nav-link {
        @include text($color: "white", $fSize: "title2");

        &.active,
        &:hover {
          font-size: fs("title2");
        }
      }
    }

    @include mq("medium") {
      margin-top: space(-1.5);

      > ul {
        position: relative;
        top: -40px;
      }
    }
  }

  &__brief {
    margin-bottom: space(2);

    p {
      margin-bottom: 0;
    }
  }

  &__date,
  &__duration {
    @include text($color: "secondary", $fSize: "title1");
  }

  &__name {
    @include text($color: "disabled", $fSize: "h5");
  }

  &__info {
    &-key {
      @include text($color: "white", $fSize: "title1", $fWeight: "medium");
    }

    &-value {
      @include text($color: "disabled", $fSize: "title1");
    }
  }

  &__related {
    &-heading {
      @include text($color: "white", $fSize: "title1", $fWeight: "medium");
    }

    &-link {
      display: block;
      overflow: hidden;
      border: 2px solid bc("primary");
      border-radius: 5px;
    }

    &-title {
      @include text($color: "white", $fSize: "title1");
      @include line-clamp($lineCount: 2, $lineHeight: 22px);

      transition: all 0.3s;
      cursor: pointer;

      &:hover {
        color: tc("danger");
      }
    }
  }

  &__feedback {
    &-form {
      @include flex($alignItems: center);
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
      padding: space(1);
      border-radius: 5px;

      background-color: bc("primary");
    }

    &-avatar {
      width: 35px;
      border-radius: 50%;
      margin-right: space(0.5);
    }

    &-hint {
      @include text($color: "secondary", $fSize: "title1");
      flex-grow: 1;
    }

    &-stars {
      width: 100px;
    }

    &-item {
      width: 100%;
      max-width: 500px;
      margin: space(1.5) auto 0;
      border-radius: 5px;

      background-color: bc("primary");
    }

    &-image {
      position: relative;
      margin-right: space(1.5);

      img {
        &:first-child {
          width: 30px;
          border-radius: 50%;
        }

        &:last-child {
          @include pos($position: absolute, $right: -5px, $bottom: 0);
        }
      }
    }

    &-name {
      @include text($fSize: "title1");
      margin-bottom: 0;
    }

    &-moment {
      @include text($color: "secondary", $fSize: "body1");
    }

    &-score {
      text-align: center;

      span {
        color: tc("feedbackScore");
      }

      p {
        line-height: 0.5;
      }

      img {
        display: inline-block;
        margin: 0 space(-0.2);
        width: 10px;
      }
    }

    &-content {
      @include text($color: "info", $fSize: "title1");

      border-bottom: 1px solid bc("lighterGrey");
    }

    &-like a {
      @include flex($flex: inline-flex, $alignItems: center);
      @include text($color: "dark", $fSize: "title1");
      padding-top: space(1);

      img {
        width: 15px;

        transition: all 0.3s;
      }

      span {
        font-weight: fw("medium");

        margin: 0 space(0.5);
      }

      &:hover img {
        transform: scale(1.2);
      }
    }
  }

  &__schedule {
    background-color: bc("primary");

    &-dropdown {
      @include flex($flexDirection: column);
      min-height: 75px;
      > a {
        @include flex($alignItems: center);
        order: 1;
        padding: space(1.5);

        img {
          &:first-child {
            width: 50px;
            margin-right: space(1.5);
          }

          &:last-child {
            width: 15px;
          }
        }
      }

      &:not(:first-child) {
        border-top: 1px solid bc("lighterGrey");
      }
    }

    &-cinema-info {
      @include text($fSize: "title2");
      flex-grow: 1;

      img {
        width: 15px;
      }

      span {
        @include text($color: "danger", $fSize: "body2");
      }
    }

    &-content {
      padding: 0 space(1.5);
      order: 2;

      &.show + a {
        img:last-child {
          transform: rotateZ(90deg);
        }
      }
    }
  }
}
