// Text mixin
@mixin text(
  $color: "primary",
  $fSize: "body1",
  $fWeight: "regular",
  $lineHeight: unset,
  $letterSpacing: unset
) {
  color: tc($color);

  font-size: fs($fSize);
  font-weight: fw($fWeight);
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
}

// Button mixin
@mixin button(
  $fs: "title2",
  $fw: "regular",
  $color: null,
  $bgColor: null,
  $border: null,
  $borderSize: null,
  $py: null,
  $px: null,
  $bgHover: null
) {
  @include text($color, $fs, $fw);
  border: none;
  outline: none;

  background-color: $bgColor;

  @if $borderSize != null && $border != null {
    border: $borderSize solid bc($border);
  }
  padding: space($py) space($px);

  transition: all 0.4s;

  &:hover {
    background-color: $bgHover;
  }
}

// Media queries mixin
$breakpoints: (
  "small": 576px,
  "medium": 768px,
  "large": 992px,
  "extra-large": 1200px
);
@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

// Flexbox
@mixin flex(
  $flex: flex,
  $justifyContent: null,
  $alignItems: null,
  $flexDirection: null
) {
  display: $flex;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

// Positioning
@mixin pos(
  $position: null,
  $top: null,
  $right: null,
  $bottom: null,
  $left: null,
  $zIndex: null
) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  z-index: $zIndex;
}

// Text overflow
@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Box line clamp
@mixin line-clamp($lineCount, $lineHeight) {
  @include text-overflow();
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lineCount;
  white-space: normal;
  line-height: $lineHeight;

  height: ($lineHeight + 1px) * $lineCount;
  max-height: ($lineHeight + 1px) * $lineCount;
}
