// ----------- COLORS ------------

// BACKGROUND COLORS
$bgColors: (
  "primary": #ffffff,
  "secondary": #fb4226,
  "lightBlue": #60c5ef,
  "lighterGrey": #eeeeee,
  "lightGrey": #959595,
  "grey": #888888,
  "darkGrey": #4a4a4a,
  "success": #00ac4d,
  "danger": #fb4226,
  "darkRed": #b42a14,
  "progress": #7ed321,
  "inactive": #afafaf,
  "normalBox": #3e515d,
  "vipBox": #f7b500,
  "sweetBox": #c913cc,
  "selectingBox": #44c020,
  "selectedBox": #eceef0,
  "disabledBox": #cfd3d7,
  "scheduleItem": rgba(246, 246, 246, 0.5),
  "boxShadow1": rgba(0, 0, 0, 0.3),
  "boxShadow2": rgba(0, 0, 0, 0.45),
  "boxShadow3": rgba(0, 0, 0, 0.5),
  "header": rgba(255, 255, 255, 0.95),
  "backdrop": rgba(0, 0, 0, 0.8),
  "black": #000,
  "footer": #222,
  "movieRating": rgba(12, 27, 54, 0.8),
  "movieRatingBorder": #1f2e46,
  "loginFrom": rgba(20, 50, 93, 0.9),
  "loginTo": rgba(8, 22, 48, 0.9),
  "loginClose": #081630,
  "loginCloseStick": #455570,
  "movieDetail": rgb(10, 32, 41),
  "progressCircle": #7ed321
);

// TEXT COLORS
$txtColors: (
  "primary": #000000,
  "secondary": #9b9b9b,
  "danger": #fb4226,
  "success": #108f3e,
  "cgv": #e71a0f,
  "info": #4a4a4a,
  "lightInfo": #949494,
  "dark": #333333,
  "price": #44c020,
  "orange": #f79320,
  "disabled": #e9e9e9,
  "white": #ffffff,
  "tabActive": #fa5238,
  "amount": #bbbbbb,
  "feedbackScore": #91d25a
);

// ----------- FONT ------------

// FONT SIZE
$fSizes: (
  "body1": 12px,
  "body2": 13px,
  "title1": 14px,
  "title2": 16px,
  "h6": 18px,
  "h5": 20px,
  "h4": 22px,
  "h3": 24px,
  "h2": 29px,
  "h1": 34px
);

// FONT WEIGHT
$fWeights: (
  "light": 300,
  "regular": 400,
  "medium": 600,
  "bold": 700
);

// SPACING
$spacing: 10px;
