.cinema-box {
  border: 1px solid bc("lighterGrey");
  border-radius: 5px;

  .nav-tabs--config.nav {
    display: block;
    padding: 0;

    .nav-item {
      padding: 0 space(2);
      .nav-link {
        padding: space(1) 0;
        border-bottom: 1px solid bc("lighterGrey");
      }
    }
  }

  &__brands,
  &__branches,
  &__showtimes {
    height: 705px;
  }

  &__brands,
  &__branches {
    border-right: 1px solid bc("lighterGrey");
  }

  &__branch {
    @include flex($justifyContent: center, $alignItems: start);
    padding: space(2) 0 space(1.5);
    border-bottom: 1px solid bc("lighterGrey");

    opacity: 0.5;
    transition: all 0.3s;

    cursor: pointer;

    &.active,
    &:hover {
      opacity: 1;
    }

    img {
      margin-right: space(0.5);
    }
    &-content {
      min-width: 0;

      h4 {
        @include text($fSize: "title1");

        span {
          color: tc("cgv");
        }
      }
      p,
      a {
        @include text($color: "lightInfo", $fSize: "body1");
      }

      p {
        @include text-overflow();
        margin: 0;
      }

      a {
        color: tc("danger");
      }
    }
  }

  &__showtime {
    padding: space(2) 0;
    border-bottom: 1px solid bc("lighterGrey");

    &-info {
      cursor: pointer;

      img {
        max-width: 50px;
      }

      &__title {
        @include text($fSize: "title1", $fWeight: "medium");

        margin-left: space(0.5);
      }

      &__duration {
        @include text($color: "secondary");
      }

      .media-body {
        @include flex($justifyContent: center, $flexDirection: column);
        align-self: stretch;

        p {
          margin: 0;
        }
      }
    }

    h6 {
      @include text($fSize: "title2", $fWeight: "medium");
    }
  }

  &__schedule-item {
    @include text($color: "secondary", $fSize: "title1", $fWeight: "medium");

    background-color: bc("scheduleItem");
    border: 1px solid bc("lighterGrey");

    span {
      @include text($color: "success", $fSize: "h6", $fWeight: "medium");
    }

    &:hover {
      color: tc("secondary");
      span {
        color: tc("danger");
      }
    }
  }
}
