.movie-limit {
  background-color: bc("danger");

  @include text($color: "white", $fWeight: "medium");

  min-width: 33px;

  padding: space(0.5) 0;

  &--no-limit {
    background-color: bc("success");
  }
}
