.showtime {
  padding: space(2) 0;
  border-bottom: 1px solid bc("lighterGrey");

  &--border-top {
    border-bottom: 0;
    border-top: 1px solid bc("lighterGrey");
  }

  &__info {
    cursor: pointer;

    img {
      max-width: 50px;
    }

    &-title {
      @include text($fSize: "title1", $fWeight: "medium");

      margin-left: space(0.5);

      span {
        color: tc("danger");
      }
    }

    &-duration,
    &-address {
      @include text($color: "secondary");
      @include line-clamp($lineCount: 2, $lineHeight: 22px);

      @include mq("medium") {
        @include line-clamp($lineCount: 1, $lineHeight: 22px);
        max-width: 89%;

        + a {
          @include text($color: "danger", $fSize: "body2");
          margin-left: space(0.5);
        }
      }
    }

    .media-body {
      @include flex($justifyContent: center, $flexDirection: column);
      align-self: stretch;

      p {
        margin: 0;
      }
    }
  }

  h6 {
    @include text($fSize: "title2", $fWeight: "medium");
  }

  &__schedule-item {
    @include text($color: "secondary", $fSize: "title1", $fWeight: "medium");

    background-color: bc("scheduleItem");
    border: 1px solid bc("lighterGrey");

    margin-right: space(1);

    span {
      @include text($color: "success", $fSize: "h6", $fWeight: "medium");
    }

    &:hover {
      color: tc("secondary");
      span {
        color: tc("danger");
      }
    }
  }
}
