.user {
  @include text("secondary", "body2");
  @include flex(inline-flex, center, center);

  cursor: pointer;

  position: relative;

  &__picture {
    display: block;
    width: 30px;
    border-radius: 50%;
    margin-right: space(0.5);
  }

  &__setting {
    @include pos(absolute, $bottom: -80%, $right: 0);

    display: none;
    width: calc(100% - 35px);
    border-radius: 4px;

    background-color: bc("lightGrey");

    overflow: hidden;

    a {
      display: block;

      @include button(
        "body2",
        "regular",
        "white",
        "lightGrey",
        unset,
        unset,
        0.5,
        1,
        "grey"
      );
    }
  }

  &:hover &__setting {
    display: block;
  }
}
